{% extends "utilities/layout.html" %}
{% block banner %}
<div class="container-xxl py-3 bg-dark hero-header mb-3 d-none d-lg-block">
    <div class="container text-center my-3 pt-3 pb-3">
        <nav aria-label="breadcrumb">
        </nav>
    </div>
</div>
{% endblock banner %}

{% block main %}
   <div class="container">
        <div class="row justify-content-center py-2 mb-2 shadow">
            <div class="col text-center">
                <h2>Community Agent's Detail</h2>
            </div>
        </div>
        <div class="row justify-content-center py-5 shadow">
            <div class="col-md-5 col-8 d-flex justify-content-center">
                <div style="width: 300px">
                    <img src="/static/photos/{{agent.customer_deets.dp}}" alt="..." class="img-fluid mb-3"/>
                </div>
            </div>
            <div class="col-md-6 mt-3 d-flex flex-column ms-5 ms-md-0">
                <span class="d-flex h6">
                    {% if session.get('useronline') == agent.customerid %} 
                        <i class="fa-solid fa-circle online me-2" style="color: green; font-size: x-small;"></i> 
                    {% else %}
                    <i class="fa-solid fa-circle me-2" style="color: grey; font-size: x-small;"></i> 
                    {% endif %}
                    {{ agent.customer_deets.firstname }} {{agent.customer_deets.lastname}}
                    {% if agent.verification == 'verified' %}
                        <img src="/static/photos/verify.png" width="20" class="ms-1"/>
                    {% endif %}
                </span>
                <h6><i class="fa fa-location-dot"></i> {{agent.city}}, {{agent.state}}, Nigeria</h6>
                <h6 class="text-primary mt-3"><i class="fa fa-circle-check"></i> Specialties</h6>
                <p class="text-justified my-2"> {{agent.specialities}} </p>
                <div class="d-flex mt-3 flex-column">
                    <a href="{{url_for('product_details', pid=product.id)}}" class="btn btn-blue col-10 col-md-6">View Product</a> 
                </div>
                <div class="mt-4">
                    <p>Share with your friends.</p>
                    <a href="#" class="share-it pe-3 py-2"> <i class="fab fa-facebook text-primary"></i> Share</a>
                    <a href="#" class="share-it pe-3 py-2"> <i class="fab fa-twitter"></i> Share</a>
                    <a href="#" class="pin-it py-2 pe-3"> <i class="fab fa-pinterest text-danger"></i> Pin it</a>
                </div>
                
            </div>
        </div>
        {% if agents | length > 1 %}
        <div class="container">
            <h2 class="py-3 my-5 bg-light" id="sub-title"></h2>
            <div class="row g-4" id="agent-container">
                
            </div>
          </div>
        {% endif %}
    </div>
{% endblock main %}

{% block footer %}
{% endblock footer %}
{% block customJS %}
<script>
    //Fetching and displaying all agents from the database
    document.body.onload = function(){
        $.getJSON({
            url: "/get-agents/",
            success: function(response) {
                if (response.status == "success") {
                    const useronline = "{{session.get('useronline')}}"; 
                    const current_agent = "{{agent.id}}";
                    let agentHtml = "";
                    $("#agent-container").empty();
    
                    response.agent_list.forEach(agent => {
                        // Determine online status icon
                        let onlineStatusHtml = '';
                        if (useronline == agent.customerid) {
                            onlineStatusHtml = '<i class="fa-solid fa-circle online me-2" style="color: green; font-size: x-small;"></i>';
                        } else {
                            onlineStatusHtml = '<i class="fa-solid fa-circle me-2" style="color: grey; font-size: x-small;"></i>';
                        }
                        // Using the first letter of their lastname
                        const lastname = agent.lastname ? agent.lastname[0] : '';
                        if (current_agent != agent.id){
                            agentHtml += `
                            <div class="col-lg-3 col-md-4 col-6">
                                <a href="/agent-details/${agent.id}/" class="text-decoration-none">
                                    <div class="card">
                                        <input type="hidden" class="agent-input" name="agentId" value="${agent.id}" />
                                        <img src="/static/photos/${agent.dp}" alt="${agent.firstname} ${lastname}'s profile picture" height="210" style="object-fit: cover;">
                                        <div class="footer p-2 d-flex flex-column text-center" style="font-size: small;">
                                            <span class="h6 d-flex align-items-center justify-content-center">
                                            ${onlineStatusHtml}
                                            ${agent.firstname} ${lastname}.
                                            <img src="/static/photos/verify.png" width="16" class="ms-1" alt="Verified"/>
                                            </span>
                                            <span class="card-text text-format" style="background: lavender; border-radius: 4px"> ${agent.specialities}</span>
                                            <span class="text-muted px-2" style="font-style: italic;"><i class="fas fa-location-dot text-warning"></i> ${agent.city}, ${agent.state} State</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            `;
                        }
                    });
                    $("#agent-container").append(agentHtml);
                    $("#sub-title").text("Other Community Agents");
    
                } else if (response.status == "not-found"){
                    $("#agent-container").html("<p class='d-flex justify-content-center'>No agents found.</p>");
                }
            },
            error: function(error) {
                $("#agent-container").html("<p class='d-flex justify-content-center'>Something went wrong. Please, try again.</p>");
            }
        });
      }
</script>
{% endblock customJS %}