{% extends 'utilities/layout.html' %}

{% block main %}

<div class="container" style="min-height: 420px; margin-top: 20px">
    <div class="row g-4 justify-content-center justify-content-md-start mx-2 mx-lg-0" id="product-container">
        
    </div>
</div>

{% endblock main %}
{% block customJS %}
<script>
    
    //Handling searching for meals
    $('.search-button').click(function(){
        const searchInput = $('#search-box').val();
        $.ajax({
            url: "/search-result/",
            type: "POST",
            data: {"csrf_token": "{{csrf_token()}}", "searchInput": searchInput},
            success: function(response){
                if (response.status === 'success'){
                    let mealHtml = '';
                    $('#product-container').empty();
                    response.product_list.forEach(meal => {
                        const images = meal.image.split('*');
                        mealHtml += `
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                <div class="product-item"> 
                                
                                    <div class="position-relative bg-light overflow-hidden">
                                        <img class="w-100" src='/static/products/${images[0]}' alt="..." height="170" title="Click image to view product details">
                                        <input type="hidden" name="cartItem" class="cartItem" value="${meal.id}">
                                    </div>
                                    
                                    <div class="text-center p-2">
                                        <a class="d-block h6 mb-2" href="">${meal.name}</a>
                                        <span class="text-primary me-1">N${meal.price}</span>                                                            
                                    </div>
                                    <div class="d-flex">
                                        <small class="w-50 text-center py-2 border">
                                            <a type="button" class="text-body add-to-cart"><i class="fa fa-shopping-bag text-primary me-2"></i>Add to cart</a>
                                            <input type="hidden" name="cartItem" class="cartItem" value="${meal.id}">
                                            </small>
                                            <small class="w-50 text-center py-2 border">
                                                <a type="button" class="text-body product-details"><i class="fa fa-eye text-primary me-2"></i>View Details</a>
                                                <input type="hidden" name="cartItem" class="cartItem" value="${meal.id}">
                                        </small>
                                    </div>
                                </div>
                            </div>
                        `;
                        
                    });
                    $("#product-container").append(mealHtml);

                } else if (response.status === 'not-found'){
                    $('#product-container').html('<p class="d-flex justify-content-center">No matching meals found.</p>');
                }
            },
            error: function(error){
                $('#product-container').html('<p class="d-flex justify-content-center">Something went wrong. Please, try again.</p>');
            }
        })
    });

    //Fetching and displaying meals based on the search on the home page
    document.body.onload = function(){
        const searchInput = "{{searchInput}}"
        $.post({
            url: `/search-result/`,
            data: {"csrf_token": "{{csrf_token()}}", "searchInput": searchInput},
            success: function(response) {
                if (response.status === 'success') {
                    let mealHtml = '';
                    $('#product-container').empty();
                    response.product_list.forEach(meal => {
                        const images = meal.image.split('*');
                        mealHtml += `
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="product-item"> 
                                
                                    <div class="position-relative bg-light overflow-hidden">
                                        <img class="w-100" src="/static/products/${images[0]}" alt="..." height="170" title="Click image to view product details">
                                        <input type="hidden" name="cartItem" class="cartItem" value="${meal.id}">
                                    </div>
                                    
                                    <div class="text-center p-2">
                                        <a class="d-block h6 mb-2" href="">${meal.name}</a>
                                        <span class="text-primary me-1">N${meal.price}</span>                                                            
                                    </div>
                                    <div class="d-flex">
                                        <small class="w-50 text-center py-2 border">
                                            <a type="button" class="text-body add-to-cart"><i class="fa fa-shopping-bag text-primary me-2"></i>Add to cart</a>
                                            <input type="hidden" name="cartItem" class="cartItem" value="${meal.id}">
                                            </small>
                                            <small class="w-50 text-center py-2 border">
                                                <a type="button" class="text-body product-details"><i class="fa fa-eye text-primary me-2"></i>View Details</a>
                                                <input type="hidden" name="cartItem" class="cartItem" value="${meal.id}">
                                        </small>
                                    </div>
                                </div>
                            </div>
                        `;
                    });
                    $("#product-container").append(mealHtml);

                } else if (response.status === 'not-found'){
                    $('#product-container').html('<p class="d-flex justify-content-center">No matching meals found.</p>');
                }         
            },
            error: function(error) {
                $('#product-container').html('<p class="d-flex justify-content-center">Something went wrong. Please, try again.</p>');
            }
        });
    }

     // Add products to cart
    document.addEventListener('DOMContentLoaded', function() {
        const addToCartButtons = document.querySelectorAll('.add-to-cart');
      
        addToCartButtons.forEach(button => {
          button.addEventListener('click', function(event) {
            event.preventDefault(); 
            const cartItemInput = button.nextElementSibling;
      
            if (cartItemInput && cartItemInput.classList.contains('cartItem')) {
              const cart_id = cartItemInput.value;
      
              $.ajax({
                url: `/add-to-cart/${cart_id}/`,
                type: 'POST',
                data: { csrf_token: '{{csrf_token()}}' }, 
                success: function(response) {
                  if (response.status === 'success') {
                    // Show a success message (you can customize this further)
                    swal({
                      text: 'Item added to cart',
                      icon: 'success',
                      buttons: false,
                      timer: 2000,
                    });
                  }
                },
              });
            }
          });
        });
    });
      

    //View Product Details
    document.addEventListener('DOMContentLoaded', function() {
        const addToCart = document.querySelectorAll('.product-details');   
        addToCart.forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const cartItemInput = link.nextElementSibling;
                
                if (cartItemInput && cartItemInput.classList.contains('cartItem')) {
                    const cart_id = cartItemInput.value;
                    $.ajax({
                        url: `/product-details/${cart_id}/`,
                        type: "POST",
                        data: {"csrf_token": "{{csrf_token()}}"},
                        success: function(response){
                            window.location.href=`/product-details/${cart_id}/`
                        }
                    })
                }
            })
        })
    })
</script>

{% endblock customJS %}