{% extends 'index.html' %}

{% block main %}

<div class="container-xxl position-relative p-0">
    <div class="container-xxl pb-5 bg-dark hero-header" style="height: 100vh">
        <div class="container text-center pt-4 pb-3">
            <h6 class="display-6 text-white animated slideInRight">
               <i class="fa fa-home text-primary" style="cursor: pointer" onclick="window.location.href='/';"></i> Create an Account.
            </h6>
        </div>
        <div class="row pb-5 justify-content-center align-items-center">
            <div class="col-lg-6 col-11 pt-3" style="border: 1px solid #777">
                <form id="registrationForm" action="{{url_for('registration')}}" method="post">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                     <div class="row">
                         <div class="col-md-6">
                             <div class="form-floating mb-3">
                                <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Firstname" aria-required="true" required>
                                <label for="firstname">Firstname</label>
                            </div>
                         </div>
                         <div class="col-md-6">
                             <div class="form-floating mb-3">
                                <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Lastname" aria-required="true" required>
                                <label for="lastname">Lastname</label>
                            </div>
                         </div>
                     </div>
                    <div class="form-floating mb-3">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email" aria-required="true" required>
                        <label for="email">Email</label>
                        <p class="email_taken mt-1"></p>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" aria-required="true" minlength="8" required>
                        <label for="password">Password (must be at least 8 characters)</label>
                        <p class="short_password mt-1"></p>
                    </div>
                    <button type="button" class="btn btn-primary col-12 btn-lg" onclick="handleRegistration();">Submit</button>
                    <hr />
                    <div class="d-flex justify-content-between flex-wrap">
                        <p class="text-light">Already have an account? <a href="{{url_for('login')}}" class="text-primary">Login.</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock main %}
{% block customJS %}
<script>

    function handleRegistration() {
        const myForm = document.querySelector('#registrationForm');
        const formData = new FormData(myForm);
        $.ajax({
            url: "/registration/",
            type: "POST",
            cache: false,
            processData: false,
            contentType: false,
            data: formData,
            success: function(response){
                if (response.status == 'email_taken'){
                    $('.email_taken').text("Email address has been taken.").addClass('text-danger');
                }
                else if (response.status == 'short_password'){
                    $('.short_password').text("Password must be 8 characters or more.").addClass('text-danger');
                }
                else if (response.status == 'success') {
                    $('.password_short').text('');
                    $('.email_taken').text('');
                    swal({
                        title: "Congratulations!",
                        text: "An account has created for you.",
                        icon: "success",
                        buttons: {
                            confirm: {
                                text: "OK",
                                value: true,
                                visible: true,
                                className: "btn btn-success",
                                closeModal: true,
                            },
                        },
                    });

                    function redirectToLogin() {
                        window.location.replace('/login/');
                    };
                    const timer = setTimeout(redirectToLogin, 3000);
                }  else {
                    swal({
                        text: "Please complete all data fields!",
                        icon: "error",
                        buttons: {
                            confirm: {
                                text: "OK",
                                value: true,
                                visible: true,
                                className: "btn btn-danger",
                                closeModal: true,
                            },
                        },
                    });
                }
            }
        });  
    }

    $('#email').on('input', function() {
        $('.email_taken').text('');
    });

    $('#password').on('input', function() {
        const password = $('#password').val();
        if (password.length != '' || password.length < 8){
            $('.short_password').text('Password must be 8 or more characters.').addClass('text-danger').removeClass('text-success');
        } else {
            $('.short_password').text('');
            $('.short_password').text('Your are good to go.').addClass('text-success').removeClass('text-danger');
        }
    });
    
</script>
{% endblock customJS %}
