{% extends 'utilities/layout.html' %}
{% block hero %} {% endblock hero %}
{% block main %}

    <h2 class="text-center py-3 bg-light" id="sub-title"></h2>
    <div class="row g-3 g-md-4 justify-content-center justify-content-md-start mx-1 mx-lg-0" id="product-container">
        
    </div>

<!--
    <small class="w-50 text-center py-2 border"">
        <div class="col d-flex align-items-center justify-content-center">
            <a class="text-primary remove-from-cart me-3" type="button" title="Reduce item quantity"><i class="fa fa-minus" style="font-size: 0.8rem"></i></a>
            <span style="width: 25px; font-size: 0.8rem" class="text-center ms-2"><span id="qty-"></span></span>
            <a class="text-primary me-2 add-to-cart ms-3" type="button" title="Increase item quantity"><i class="fa fa-plus" style="font-size: 0.8rem"></i></a>
            <input type="hidden" name="cartitem" class="cartItem" value="">
        </div>
    </small>
-->
                       
{% endblock main %}
{% block customJS %}
<script>

    //Fetching and displaying all products from the database
    document.body.onload = function(){
        $.getJSON({
            url: "/get-products/",
            success: function(response) {
                if (response.status == "success") {
                    const useronline = "{{session.get('useronline')}}"; 
                    let productHtml = "";
                    $("#product-container").empty();
    
                    response.product_list.forEach(product => {
                        // Determine online status icon
                        let wishlistHtml = '';
                        let cartButtonHtml = '';

                        // Wishlist html based on the users wishlsit details
                        if (useronline) {
                            if (product.wishlist_deets) {
                                wishlistHtml += `
                                    <a type="button" class="d-flex justify-content-end wishlist">
                                        <i class="fa-solid fa-heart wishlistIcon"></i>
                                    </a>
                                    <input type="hidden" name="cartItem" class="cartItem" value="${product.id}">
                                `;
                            } else {
                                wishlistHtml += `
                                    <a type="button" class="d-flex justify-content-end wishlist">
                                        <i class="fa-regular fa-heart wishlistIcon"></i>
                                    </a>
                                    <input type="hidden" name="cartItem" class="cartItem" value="${product.id}">
                                `;
                            }
                        } else {
                            // User is not online
                            wishlistHtml += `
                                <a type="button" class="d-flex justify-content-end wishlist" data-bs-target="#loginModal" data-bs-toggle="modal">
                                    <i class="fa-regular fa-heart wishlistIcon"></i>
                                </a>
                            `;
                        }

                        // Cart button based on users online status
                        if (useronline){
                            cartButtonHtml += `<a type="button" class="text-body add-to-cart"><i class="fa fa-shopping-cart text-primary me-2"></i>Add to cart</a>`;
                        } else {
                            cartButtonHtml += `<a type="button" class="text-body" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-shopping-cart text-primary me-2"></i>Add to cart</a>`;
                        }

                        const images = product.image.split('*');
                        if (images.length > 0) {
                            productHtml += `
                                <div class="col-lg-3 col-md-4 col-6">
                                    <div class="product-item">
                                        <div class="position-relative bg-light overflow-hidden">
                                            <img class="w-100" src="/static/products/${images[0]}" alt="..." height="170" title="Click image to view product details">
                                            <input type="hidden" name="cartItem" class="cartItem" value="${product.id}">
                                        </div>
                                         <div class="text-center p-2">
                                            <a class="d-block text-dark mb-2" href="#">${product.name}</a>
                                            <span class="text-primary me-1 d-flex align-items-center position-relative">
                                               <span class="ms-5"> N${product.price} </span>
                                               <span class="position-absolute end-0 bottom-4"> ${wishlistHtml} </span> 
                                            </span>
                                            <div class="d-flex quantity">
                                                <small class="w-100 text-center py-2 border"">
                                                    ${cartButtonHtml}
                                                    <input type="hidden" name="cartItem" class="cartItem" value="${product.id}">
                                                </small>
                                            </div>      
                                        </div>
                                    </div>
                                </div>
                            `;
                        };
                    });
                    $("#product-container").append(productHtml);
                    $("#sub-title").html("Featured Products");
    
                } else if (response.status == "not-found"){
                    $("#product-container").html("<p class='d-flex justify-content-center'>No products found.</p>");
                }
            },
            error: function(error) {
                $("#product-container").html("<p class='d-flex justify-content-center'>Something went wrong. Please, try again.</p>");
            }
        });
    }

     //Handling searching for caterers, by location, name, and specialities
     $('.search-button').click(function(){
        const searchInput = $('#search-box').val();
        $.ajax({
            url: "/top-listing/",
            type: "POST",
            data: {"csrf_token": "{{csrf_token()}}", "searchInput": searchInput},
            success: function(response) {
                if (response.status == "success") {
                    const useronline = "{{session.get('useronline')}}"; 
                    let productHtml = "";
                    $("#product-container").empty();
    
                    response.product_list.forEach(product => {
                        // Determine online status icon
                        let wishlistHtml = '';
                        let cartButtonHtml = '';

                        // Wishlist html based on the users wishlsit details
                        if (useronline) {
                            if (product.wishlist_deets) {
                                wishlistHtml += `
                                    <a type="button" class="d-flex justify-content-end wishlist">
                                        <i class="fa-solid fa-heart wishlistIcon"></i>
                                    </a>
                                    <input type="hidden" name="cartItem" class="cartItem" value="${product.id}">
                                `;
                            } else {
                                wishlistHtml += `
                                    <a type="button" class="d-flex justify-content-end wishlist">
                                        <i class="fa-regular fa-heart wishlistIcon"></i>
                                    </a>
                                    <input type="hidden" name="cartItem" class="cartItem" value="${product.id}">
                                `;
                            }
                        } else {
                            // User is not online
                            wishlistHtml += `
                                <a type="button" class="d-flex justify-content-end wishlist" data-bs-target="#loginModal" data-bs-toggle="modal">
                                    <i class="fa-regular fa-heart wishlistIcon"></i>
                                </a>
                            `;
                        }

                        // Cart button based on users online status
                        if (useronline){
                            cartButtonHtml += `<a type="button" class="text-body add-to-cart"><i class="fa fa-shopping-cart text-primary me-2"></i>Add to cart</a>`;
                        } else {
                            cartButtonHtml += `<a type="button" class="text-body" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-shopping-cart text-primary me-2"></i>Add to cart</a>`;
                        }

                        const images = product.image.split('*');
                        if (images.length > 0) {
                            productHtml += `
                                <div class="col-lg-3 col-md-4 col-6">
                                    <div class="product-item">
                                        <div class="position-relative bg-light overflow-hidden">
                                            <img class="w-100" src="/static/products/${images[0]}" alt="..." height="170" title="Click image to view product details">
                                            <input type="hidden" name="cartItem" class="cartItem" value="${product.id}">
                                        </div>
                                         <div class="text-center p-2">
                                            <a class="d-block text-dark mb-2" href="#">${product.name}</a>
                                            <span class="text-primary me-1 d-flex align-items-center position-relative">
                                               <span class="ms-5"> N${product.price} </span>
                                               <span class="position-absolute end-0 bottom-4"> ${wishlistHtml} </span> 
                                            </span>
                                            <div class="d-flex quantity">
                                                <small class="w-100 text-center py-2 border"">
                                                    ${cartButtonHtml}
                                                    <input type="hidden" name="cartItem" class="cartItem" value="${product.id}">
                                                </small>
                                            </div>      
                                        </div>
                                    </div>
                                </div>
                            `;
                        };
                    });
                    $("#product-container").append(productHtml);
                    $("#sub-title").html("Featured Products");
    
                } else if (response.status == "not-found"){
                    $("#product-container").html("<p class='d-flex justify-content-center'>No products found.</p>");
                }
            },
            error: function(error) {
                $("#product-container").html("<p class='d-flex justify-content-center'>Something went wrong. Please, try again.</p>");
            },   
        });
    })

   // Add products to cart
    document.addEventListener('DOMContentLoaded', function() {
        const addToCart = document.querySelectorAll('.add-to-cart');   
        addToCart.forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const cartItemInput = link.nextElementSibling;
    
                if (cartItemInput && cartItemInput.classList.contains('cartItem')) {
                    const cart_id = cartItemInput.value;
                    $.ajax({
                        url: `/add-to-cart/${cart_id}/`,
                        type: "POST",
                        data: {"csrf_token": "{{csrf_token()}}"},
                        success: function(response){
                            if (response.status == 'success'){
                                swal({
                                    text: "Product added to cart successfully.",
                                    icon: "success",
                                    buttons: false,
                                    timer: 2000,
                                });
                            }
                        },
                    })
                }
            })
        })
    })

    //Remove product from cart
    document.addEventListener('DOMContentLoaded', function() {
        const removeFromCart = document.querySelectorAll('.remove-from-cart');
        removeFromCart.forEach(link => {
            link.addEventListener('click', function(event) {   
                const cartItemInput = link.nextElementSibling.nextElementSibling.nextElementSibling;
                if (cartItemInput && cartItemInput.classList.contains('cartItem')) {
                    const cart_id = cartItemInput.value;
                    $.ajax({
                        url: `/remove-from-cart/${cart_id}/`,
                        type: "POST",
                        data: {"csrf_token": "{{csrf_token()}}"},
                        success: function(response){
                            if (response.status == 'success'){
                               
                            }
                        }
                    })
                }
            })
        })
    })

    //View Product Details
    document.addEventListener('DOMContentLoaded', function() {
        const addToCart = document.querySelectorAll('.product-details');   
        addToCart.forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const cartItemInput = link.nextElementSibling;
                
                if (cartItemInput && cartItemInput.classList.contains('cartItem')) {
                    const cart_id = cartItemInput.value;
                    $.ajax({
                        url: `/product-details/${cart_id}/`,
                        type: "POST",
                        data: {"csrf_token": "{{csrf_token()}}"},
                        success: function(response){
                            window.location.href=`/product-details/${cart_id}/`
                        }
                    })
                }
            })
        })
    })

    //Add and remove product from wishlist
    document.addEventListener('DOMContentLoaded', function() {
        const wishlistButtons = document.querySelectorAll('.wishlist');
    
        wishlistButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
    
                // Find the relevant elements
                const icon = button.querySelector('.wishlistIcon');
                const cartItemInput = button.nextElementSibling;
    
                const cartId = cartItemInput.value;
                const isRegular = icon.classList.contains('fa-regular');
    
                let actionURL;
                if (isRegular) {
                    actionURL = `/add-to-wishlist/${cartId}/`;
                } else {
                    actionURL = `/remove-from-wishlist/${cartId}/`;
                }
    
                // Perform AJAX request
                $.ajax({
                    url: actionURL,
                    type: 'POST',
                    data: {"csrf_token": "{{csrf_token()}}" },
                    success: function(response){
                        if (response.status === 'success') {
                            // Toggle icon class
                            icon.classList.toggle('fa-regular');
                            icon.classList.toggle('fa-solid');
                            $('.wishlist_count').text(response.number_of_wishlist_item);
                            swal({
                                text: response.message,
                                icon: "success",
                                buttons: false,
                                timer: 2000,
                            });
                        }
                    } 
                });
            });
        })
    });


     
</script>
{% endblock customJS %}
